@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&family=Roboto:wght@400;500;700&display=swap');


:root {
    --roboto: 'Roboto', sans-serif;
    --montserrat: 'Montserrat', sans-serif;
    
    /* FONT-SIZES */
    --fs-xlarge: 20px;
    --fs-large: 15px;
    --fs-medium: 14px;
    --fs-default: .8125em;
    --fs-small: 12px;
    --fs-xsmall: 11px;
    --fs-xxsmall: .7692rem;

    /* FONT WEIGHT */
    --fw-reg: 400;
    --fw-med: 500;
    --fw-robo-sbold: 600;
    --fw-montserrat-bold: 700;

    /* TEXT COLORS */
    --dk: #1E1E1E;
    --gray: #616161;
    --lt-gr: #AFB1B2;

    /* BACKGROUND COLORS */
    --near-bk: #1E1E1E;
    --very-lt-gray: #CCCCCC;
    --white: #FFFFFF;
    --off-white: #F8F8F8;
    --rect-gray: #c4c4c4;

    /* COLORS */
    --info: #53B6E0;
    --success: #74C080;
    --warning: #F0B518;
    --error: #D9534F;
    --dark-blue: #14223D;

}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
}
html,
body {
    font-family: var(--montserrat);
    font-size: var(--fs-default);
}
#bg {
    position: fixed; 
    top: -50%; 
    left: -50%; 
    width: 200%; 
    height: 200%;
}
#bg img {
    width: 1440px;
    height: 1021px;
    position: absolute; 
    top: 150px; 
    left: 9px; 
    right: 0; 
    bottom: 0; 
    margin: auto; 
    min-width: 50%;
    min-height: 50%;
}
.header-layout{
    display: flex;
    justify-content: space-between;
    padding-top: 0;
    padding-bottom: 4rem;   
}

.header-left {
    display: flex;
    flex-direction: row;
}
.mobile-m {
    visibility: hidden;
}
.title {
    margin: 2rem 0; 
    font-size: 16px;
    font-weight: 500;
}
.header-right {
    width: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 2rem 0;
}
.header-right a {
    padding-right:4rem;
    font-size: 16px;
}
a {
    text-decoration: none;
}
.logo {
    width: 170px;
    height: 72px;
}

.window-almost {
    position: fixed;
    width: 1004px;
    height: 770px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 25px;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: white;
    border: 2px solid #E1e1e1;
    border-radius: 15px;
    filter: drop-shadow(0 4px 4px rgba(31, 31, 31, 25%));
}
.closeout {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-content: flex-end;
}
.button-close {
    margin-top: .75rem;
    margin-right: .68rem;
    width: 2.5rem;
    height: 2.5rem;
    background-color: white;
    border: none;
}
.button-close:hover {
    border: 1px solid var(--error);
    font-weight: var(--fw-robo-sbold);
    background-color: var(--error);
    border-radius: 3px;
}

.close {
    margin-top: .75rem;
    font-size: var(--fs-xlarge);
    border:none;
    vertical-align: middle;
    align-self: center;
    color: var(--dark-blue); 
}
.close:hover {
    color: var(--white);
}

.form-layout {
    height: 560px;
    width: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    margin: auto 0;
    padding: 0 4rem;
    filter: drop-shadow(0 4px 4px rgba(31, 31, 31, 25%));

}
.left {
    width: 440px;
    height: 560px;
    /* display: flex;
    flex-direction: column; */
    
}
.details {
    display: flex;
    flex-direction: column;
    align-content: center; 
    width: 440px;
    height: 560px;
    margin: 0 auto;
    padding: 43px 45px;
    background-color: -white;
    /* border: 1px solid var(--very-lt-gray);
    border-radius: 15px; */
}
.details-container {
    display: flex;
    width: 340px;
    height: auto;
    margin-top: 0;
    padding: 1rem auto;
    flex-direction: column;
    align-items: center;  
    font-family: var(--roboto);
    font-size: 18px;
    line-height: 21px;
    text-align: center;
}
.details-header {
    display: flex;
    width: 340px;
    height: 120px;
    font-family: var(--montserrat);
    font-weight: var(--fw-med);
    color: var(--info);
    text-align: left;
}
.intro {
    width: auto;
    font-size: 48px;
    height: 59px;
    margin: 1rem 0;
    padding: 40px 0;
}
.details-text {
    width: 375px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.holder {
    width: 20px;
    display: flex;
    margin-right: 5px;
}
.bulb-holder {
    width: 20px;
    position: relative;
    /* align-content: flex-start;
    background-image: url(/assets/lightbulb.svg) no repeat; */
}
.bulb {
    position: absolute;
    width: 100%;
    /* top: 419px;
    left: 296px; */
    height: auto;
    
    /* z-index: 1; */
}

.bulb-line {
    top: 437px;
    left: 299px;
    
}

.details-text p {
    font-family: var(--roboto);
    font-size: 24px;
    text-align: left;
    line-height: 1;
    margin-left: 10px;
    
}
/* .details-graphics {
    position: absolute;
}
.red-arrow {
    position: relative;
    top: px;
    left: 412px;
}
.red-ell {
    top: 800px;
    left: 515.74px;
    rotate: -80.56deg;

} */
.right {
    width: 440px;
    height: 560px;
}
form {
    display: flex;
    flex-direction: column;
    align-content: center; 
    width: 440px;
    height: 560px;
    margin: 0 auto;
    padding: 43px 45px;
    background-color: #f1f1f1;
    border: 1px solid var(--very-lt-gray);
    border-radius: 15px;
}
.form-container {
    display: flex;
    width: 340px;
    height: auto;
    margin-top: 0;
    padding: 1rem auto;
    flex-direction: column;
    align-items: center;  
    font-family: var(--roboto);
    font-size: 18px;
    line-height: 21px;
    text-align: center;
}
.account-header {
    width: 340px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-content: center;
}
.account-profile {
    width: 340px;
    height: auto;
    display: flex;
    flex-direction: row;
}
.profile-rectangle {
    width: 125px;
    height: 125px;
    background-color: var(--rect-gray);
    border-radius: 12px;
    margin-right: 20px;
}
.initial {
    margin: 25px 45px;
}
.loboeh {
    display:flex;
    width: 125px;
    height: 125px;
}
.name {
    padding: 47.5px 0;
    font-family: var(--roboto);
    font-weight: var(--fw-med);
    font-size: 30px;
}
.button-holder {
    width: 340px;
}
.pick {
    width: 125px;
    height: 26px;
    border-radius: 15px;
    border: 1px solid var(--info);
    color: var(--info);
    font-family: var(--roboto);
    font-size: 16px;
    margin: .75rem auto;box-shadow: 0px 4px 4px 0px rgba(31, 31, 31, 25%);
    /* filter: drop-shadow( 4px 0px 4px rgba(31, 31, 31, 25%)); */
}
.photo-text {
    width: 319px;
    font-family: var(--roboto);
    font-size: 14px;
}
label {
    width: 340px;
    text-align: left;
    margin-top: .75rem;
    margin-bottom: .3rem; 
    margin-left: 1.2rem;
    margin-right: 1.2rem;
}
label[for=job]:hover,
label[for=interests]:hover {
    color: var(--info);
}
input {
    width: 340px;
    height: 32px;
    border: 1px solid #CCCCCC;
    border-radius: 15px;  
    margin-bottom: 1rem;
}
input[type=text]:hover {
    border: 1px solid var(--info);
}

.complete {
    width: 340px;
    height: 32px; 
    border-radius: 15px;
    background-color: var(--info);
    border: 1px solid var(--info);
    margin-top: 2.1rem;  
    margin-bottom: .25rem;
}
.complete:hover {
    opacity: 80%;
}
.complete a {
    text-decoration: none;
    color: white;
    font-size: 14px;  
}

.terms {
    width: 320px;
    font-size: 14px;
    line-height: 1.2;
}


/* MOBILE DESIGN - max-width 450px*/
@media screen and (max-width:34.615em) {
    html,
    body {
        width: 100%;
        height: 100%;
    }
    #bg {
        display: none;
    }
    #bg img{
        display: none;
    }
    .header-layout {
        max-width: 370px;
        height: 37.5px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 2rem auto;
        padding-top: 0;
        padding-bottom: 2rem;   
    }
    .header-left {
        display: flex;
        flex-direction: row;
        margin: 1.75rem auto;
    }
    .mobile-m {
        visibility: visible;
    }
    .logo {
        max-width: 50px;
        height: 21px;
    }
    .title {
        display: none;
    }
    .header-right a {
        padding-right: 2rem;
        font-size: var(--fs-xsmall);
    }
    .window {
        max-width: 350px;
        height: 600px;
        top: 385px;
        background-color: var(--very-lt-gray);
        filter: none;
    }
    .form-layout {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
    }
    .form-body{
        min-height: 100%;
    }
    .button-close {
        display: none;
    }
    a.google,
    a.github  {
        max-width: 300px;
        height: 32px;
    }
    form {
        max-width: 300px;
        height: 410px;
        margin: 1.25rem auto;
        padding: 1.5rem 0;
        background-color: #f1f1f1;
        border: 1px solid var(--very-lt-gray);
        border-radius: 15px;
        filter: drop-shadow(0 4px 4px rgba(2, 2, 2, 0.25));
    }
    label[for=email],
    label[for=password] {
        max-width: 255px;
        text-align: left;
        margin:.5rem auto;
        font-size: var(--fs-default);
    }
    
    input[type=email],
    input[type=password],
    button.submit {
        width: 255px;
        height: 32px;
        font-size: var(--fs-default);
    }
    .forgot {
        max-width: 255px;
        font-size: var(--fs-xxsmall);
    }
    .recaptcha-body {
        max-width: 225px;
        height: 71px; 
        margin: 2rem auto; 
        display: flex;
        flex-direction: row;
        border: 1px solid var(--very-lt-gray);
        border-radius: 5px;
        line-height: .6rem;
    }
    .checkit {
        padding-right: 0;
        font-size: var(-fs-default);
    }
    .right-captcha {
        width: 75px;
    }
    .mark {
        width: 225px;
        height: 50px;
    }
    .keep {
        width: 215px;
        margin: 1rem auto;
        padding-left: 5px;
        font-size: var(--fs-small);
    }
    .register-mobile {
        visibility: visible;
        font-size: var(--fs-xxsmall);
    }
    .register-desktop {
        visibility: hidden;
    }
}



/* Customize the label (the container) */
/* .container {
    display: block;
    position: relative;
    padding-left: 25px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 14px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
} */
  
  /* Hide the browser's default checkbox */
  /* .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  } */
  
  /* Create a custom checkbox */
  /* .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
  } */
  
  /* On mouse-over, add a grey background color */
  /* .container:hover input  {
    background-color: #ccc;
  } */
  
  /* When the checkbox is checked, add a blue background */
  /* .container input:checked ~ .checkmark {
    background-image: url(/assets/checkmark.svg);
    background-color: #2196F3;
  } */
  
  /* Create the checkmark/indicator (hidden when not checked) */
  /* .checkmark:after {
    content: "";
    position: absolute;
    display: none;
    outline: #CCCCCC;
  } */
  
  /* Show the checkmark when checked */
  /* .container input:checked ~ .checkmark:after {
    display: block;
  } */
  
  /* Style the checkmark/indicator */
  /* .container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    /* -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg); */

