@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&family=Roboto:wght@300;@400;500;700&display=swap');


:root {
    --roboto: 'Roboto', sans-serif;
    --montserrat: 'Montserrat', sans-serif;
    
    /* FONT-SIZES */
    --fs-xlarge: 1.615rem;
    --fs-18px: 1.38rem;
    --fs-16px: 1.23rem;
    --fs-large: 1.15rem;
    
    --fs-medium: 1.07rem;
    --fs-default: 1rem;
    --fs-small: .9230rem;
    --fs-xsmall: .846rem;
    --fs-xxsmall: .769rem;

    /* FONT WEIGHT */
    --fw-light: 300;
    --fw-reg: 400;
    --fw-med: 500;
    --fw-bold: 700;

    /* TEXT COLORS */
    --dk: #1E1E1E;
    --gray: #616161;
    --lt-gr: #AFB1B2;

    /* BACKGROUND COLORS */
    --near-bk: #1E1E1E;
    --very-lt-gray: #CCCCCC;
    --white: #FFFFFF;
    --off-white: #F8F8F8;
    --rect-gray: #C4C4C4;
    --borders: #E1E1E1;

    /* COLORS */
    --info: #53B6E0;
    --success: #74C080;
    --warning: #F0B518;
    --error: #D9534F;
    --dark-blue: #14223D;

}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
}

html,
body {
    font-family: var(--roboto);
    font-size: 13px;
}

/* Main Content */
.window {
    position: fixed;
    width: 668px;
    height: 770px;
    left: 50%;
    top: 45%;
    transform: translate(-50%, -50%);
    font-size: 25px;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--off-white);
    border: 2px solid var(--very-lt-gray);
    border-radius: 15px;
    filter: drop-shadow(0 4px 4px rgba(31, 31, 31, 25%));

}
/* Closeout button X */
.closeout {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-content: flex-end;
}
.button-close {
    margin-top: .75rem;
    margin-right: .68rem;
    width: 2.5rem;
    height: 2.5rem;
    background-color: white;
    border: none;
}
.button-close:hover {
    border: 1px solid var(--error);
    font-weight: var(--fw-bold);
    background-color: var(--error);
    border-radius: 3px;
}

.close {
    margin-top: .75rem;
    font-size: var(--fs-xlarge);
    border:none;
    vertical-align: middle;
    align-self: center;
    color: var(--dark-blue); 
}
.close:hover {
    color: var(--white);
}
/* Layout of the Form */
.form-layout {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    
}

/* Sytling the optional sign-in methods */
.other-signin {
    display: flex;
    height: auto;
    margin-top: 0;
    flex-direction: column;
    align-items: center;  
}
a.google,
a.github {
    width: 340px;
    height: 32px;
    display: inline-flex;
    justify-content: center;
    border-radius: 15px; 
    font-size: var(--fs-default);
    text-decoration: none;
}
a.google {
    color: var(--gray);
    background:var(--white);
    border: 1px solid var(--very-lt-gray);
    margin-bottom: 9px;
}
a.github {
    color: var(--white);
    background-color: black;
}
.google img,
.github img {
    padding-right: .6rem;
}
.google span,
.github span {
    padding-top: .5rem;
}
.google:hover,
.github:hover {
    opacity: 40%;
}

/* Styling the form */
form {
    display: flex;
    flex-direction: column;
    align-content: center; 
    width: 440px;
    height: 427px;
    margin: 1rem auto;
    padding: 1.5rem 0;
    background-color: var(--white);
    border: 1px solid var(--very-lt-gray);
    border-radius: 15px;
    filter: drop-shadow(0 4px 4px rgba(31, 31, 31, 25%));
}
.form-container {
    display: flex;
    height: auto;
    margin-top: 0;
    padding: 1rem auto;
    flex-direction: column;
    align-items: center;  
    font-size: 18px;
    line-height: 21px;
    text-align: center;
}
.form-container input[type="email"],
.form-container input[type="password"] {
    box-sizing: border-box;
    padding-left: 10px;
}
label {
    width: 340px;
    text-align: left;
    margin: .75rem auto;
    margin-bottom: .25rem;
    padding-left: 2px;
}
label[for=password]:hover,
label[for=email]:hover {
    color: var(--info);
}
input {
    width: 340px;
    height: 32px;
    border: 1px solid var(--very-lt-gray);
    border-radius: 15px;  
}
input[type=password]:hover,
input[type=email]:hover {
    border: 1px solid var(--info);
}
.forgot {
    width: 302px;
    display: flex;
    height: auto;
    margin: 0.25rem auto;
    padding: 1rem auto;
    flex-direction: row;
    align-items: center;  
    font-size: var(--fs-default);
}
.forgot a {
    color: var(--info);
}

/* reCapcha styling */
.recaptcha-body {
    width: 302px;
    height: 69px; 
    margin: 2rem auto; 
    display: flex;
    flex-direction: row;
    border: 1px solid var(--very-lt-gray);
    border-radius: 5px;
    line-height: .6rem;
}
#check {
    padding-right: 2px;
}
.text-box {
    width: 150px;
    height: 67px;
    display: flex;
    align-items: center;
    margin-left: 20px;
}
.cap-text {
    font-size: var(--fs-default);
    font-weight: var(--fw-reg);
}
.right-captcha {
    width: 100%;
    margin-left: 0;
    display: inline-flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: flex-start;
      
}
.robo-text {
    position: relative;
    margin: 32px 0px;
    text-align: left;
    font-size: var(--fs-default);

}
.cap-right {
    width: 140px;
    display: flex;
    flex-direction: column;
    margin: 10px 0;
    margin-right: 0;

}
.right-captcha img {
    margin-right: 0;
    width: auto;
}
.cap {
    margin: .5rem auto;
    font-size: var(--fs-xxsmall);
    font-weight: var(--fw-reg);
}
.privacy {
    font-size: var(--fs-xxsmall);
    font-weight: 300;
}
/* Sign In button*/
.submit {
    width: 340px;
    height: 32px; 
    margin-top:0;
    margin-left: 0;
    margin: auto;
    border-radius: 15px;
    background-color: var(--info);
    border: 1px solid var(--info);  
}
.submit:hover {
    opacity: 80%;
}
.submit a {
    text-decoration: none;
    color: white;
    font-size: var(--fs-large);
    font-weight: var(--fw-bold);
}
.mark {
    width: 340px;
    display: flex;
    flex-direction: row;
    align-items: center;  
    height: auto;
    margin: 0.25rem auto;
    padding: 1rem auto;
    font-size: var(--fs-default);
    text-align: left;
}

.register-desktop {
    font-size: 13px;
    text-decoration: none;
}
.register-desktop a {
    color: var(--info);
}
.register-mobile {
    display: none;
}

/* MOBILE DESIGN - max-width 750px*/
@media screen and (max-width: 57.69em) {
    html,
    body {
        width: 100%;
        height: 100%;
    }
    .window {
        max-width: 321px;
        height: 600px;
        top: 385px;
        background-color: var(--very-lt-gray);
        filter: none;
    }
    .form-layout {
        width: 321px;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
    }
    .button-close {
        display: none;
    }
    a.google,
    a.github  {
        max-width: 289px;
        height: 32px;
    }
    form {
        max-width: 289px;
        height: 410px;
        margin: 1.25rem auto;
        padding: 1.5rem 0;
        background-color: var(--white);
        border: 1px solid var(--very-lt-gray);
        border-radius: 15px;
        filter: drop-shadow(0 4px 4px rgba(2, 2, 2, 0.25));
    }
    label[for=user_email],
    label[for=user_password] {
        max-width: 255px;
        text-align: left;
        margin: 1rem auto;
        margin-bottom: 0;
        padding-left: 10px;
        font-size: var(--fs-default);
    }
    
    input[type=email],
    input[type=password],
    button.submit {
        width: 255px;
        height: 32px;
        font-size: var(--fs-default);
    }
    .forgot {
        max-width: 255px;
        font-size: var(--fs-xxsmall);
        padding-left: 10px;
    }
    .recaptcha-body {
        max-width: 225px;
        height: 71px; 
        margin: 2rem auto; 
        display: flex;
        flex-direction: row;
        border: 1px solid var(--very-lt-gray);
        border-radius: 5px;
        line-height: .6rem;
    }
    .right-captcha {
        width: 100%;
        display: inline-flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-content: flex-start;
          
    }
    .robo-text {
        position: relative;
        width: 100%;
        margin: 30px 0;
        text-align: right;
        margin-right: 0;
        font-size: var(--fs-default);
    
    }
    .cap-right {
        display: flex;
        flex-direction: column;
        margin: 10px 0;
        line-height: 1;
    }
    .cap {
        margin-bottom: 0;
    }
    .privacy {
        font-size: 8px;
    }
    .submit {
        margin: .5rem;
    }
    .mark {
        width: 289px;
        height: 50px;
    }
    .container,
    label[for=keep] {
        width: 255px;
        margin: 0 auto;
    }
    .register-mobile {
        display: block;
        font-size: var(--fs-xxsmall);
    }
    .register-desktop {
        display: none;
    }
}



