@media only screen and (max-width: 1030px) {
.profile_pic_and_edit_button a {
  position: absolute;
  right: 0px;

}

  .profile_card>*{
      border: none;
     
  }

  .container {
  
    grid-template-areas:
      "middle"
      "middle  "
      "middle";

    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }

  .top {
    display: none;
  }
  .right-section {
    display: none;
  }



  .left_side_bar {
    transform: translateX(-100vw);

    opacity: 0.5;
    width: 80%;
    background: white;
    transition: all ease 0.6s;
    z-index: 2000;
  }
  .left_side_bar_mobile_slide {
    transform: translateX(0vw);
    transition: all ease 0.6s;

    opacity: 1;
    visibility: visible;
  }

  .mobile-profile-pic-sidebar {
    visibility: visible;
    position: relative;
    height: 100px;
  }
  .left_side_logo {
    display: none;
  }

  .left_sidebar_inner_content {
    position: relative;

    top: 22vh;
    margin: 5px;
    padding-left: 30px;
  }

  .hamb_button img {
    position: relative;
    visibility: visible;
  }


  .new_post_button {
 position: absolute;
 top: -50px;
}

}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 2) {
  .left_sidebar_inner_content {
    top: 30vh;
  }
}

@media only screen and (max-width: 400px) {
  body {
    font-size: smaller;
  }
.posts,
.replies,
.likes {
    font-size: 15px
}

.structure_stats img{
height: 15px;
}

  .mobile-profile-pic-sidebar {
    position: relative;
    top: 9vw;
  }

  .left_sidebar_inner_content {
    top: 50vw;
  }
.profile_pic_and_edit_button a {


}

  .card_username {
      font-size: 18px
  }



.profile_img_border {
      min-width: 120px;
  height: 200px;
  width: 19%;
font-size: 15px;


}

.card_profile_pic {
  height: 110px;
  width: 100%;
  border-radius: 5px;
  margin-bottom: 10px;
}

}

@media only screen and (max-width: 360px) {
  .mobile-profile-pic-sidebar {
    font-size: smaller;
    top: 0vw;
  }

  .left_sidebar_inner_content {
    top: 18vh;
  }

.side_icon_and_links_item {

  font-size: 16px;
  
  padding: 10px 0;
}
  .new_post_button {
 position: absolute;
 top: -50px;
 right: -40px;
}

}

@media only screen and (max-width: 300px) {


 .left_sidebar_inner_content {
    top: 18vh;
  }
}
