@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&family=Roboto:wght@400;500;700&display=swap');


:root {
    --roboto: 'Roboto', sans-serif;
    --montserrat: 'Montserrat', sans-serif;
    
    /* FONT-SIZES */
    --fs-xlarge: 1.615rem;
    --fs-18px: 1.38rem;
    --fs-16px: 1.23rem;
    --fs-large: 1.15rem;
    
    --fs-medium: 1.07rem;
    --fs-default: 1rem;
    --fs-small: .9230r;
    --fs-xsmall: .846rem;
    --fs-xxsmall: .769rem;

    /* FONT WEIGHT */
    --fw-reg: 400;
    --fw-med: 500;
    --fw-montserrat-sbold: 600;
    --fw-robo-bold: 700;

    /* TEXT COLORS */
    --dk: #1E1E1E;
    --gray: #616161;
    --lt-gr: #AFB1B2;

    /* BACKGROUND COLORS */
    --near-bk: #1E1E1E;
    --very-lt-gray: #CCCCCC;
    --white: #FFFFFF;
    --off-white: #F8F8F8;
    --rect-gray: #c4c4c4;
    --borders: #E1E1E1;

    /* COLORS */
    --info: #53B6E0;
    --success: #74C080;
    --warning: #F0B518;
    --error: #D9534F;
    --dark-blue: #14223D;

}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
}
html,
body {
    font-family: var(--roboto);
    font-size: 13px;
    font-weight: var(--fw-reg);
    
}
#bg {
    position: fixed; 
    top: -50%; 
    left: -50%; 
    width: 200%; 
    height: 200%;
}
#bg img {
    max-width: 1440px;
    max-height: 1021px;
    position: absolute; 
    top: 11.53rem; 
    left: .692rem; 
    right: 0; 
    bottom: 0; 
    margin: auto; 
    min-width: 50%;
    min-height: 50%;
    opacity: 20%;
}
.header-layout{
    display: flex;
    justify-content: space-between;
    padding-top: 0;
    padding-bottom: 4rem;   
}

.header-left {
    display: flex;
    flex-direction: row;
}
.m-header-link {
    display: none;
}
.title {
    margin: 2rem 0; 
    font-size: 1.23rem;
    font-weight: var(--fw-med);
}
.header-right {
    width: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 2rem 0;
}
.header-right a {
    padding-right:4rem;
    font-size: 1.23rem;
}
a {
    text-decoration: none;
}
.logo {
    max-width: 10.769rem;
    max-height: 5.53rem;
}
.reset-window {
    display: none;
}
.window,
.reset-window {
    display: none;
    position: fixed;
    max-width: 1004px;
    height: 770px;
    left: 50%;
    top: 50%;
    z-index: 0;
    transform: translate(-50%, -50%);
    font-size: 1.92rem;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    background-color: var(--off-white);
    border: 2px solid var(--borders);
    border-radius: 15px;
    filter: drop-shadow(0 4px 4px rgba(31, 31, 31, 25%));
}
.reset-window {
    display: none;
}
.closeout {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-content: flex-end;
}
.button-close {
    margin-top: .75rem;
    margin-right: .68rem;
    width: 2.5rem;
    height: 2.5rem;
    background-color: var(--off-white);
    border: none;
}
.button-close:hover {
    border: 1px solid var(--error);
    font-weight: var(--fw-robo-sbold);
    background-color: var(--error);
    border-radius: 3px;
}

.close {
    margin-top: .75rem;
    font-size: var(--fs-xlarge);
    border: none;
    vertical-align: middle;
    align-self: center;
    color: var(--dark-blue); 
}
.close:hover {
    color: var(--white);
    cursor: pointer;
}
.form-layout {
    height:770px;
    width: 1004px;
    /* left: 50%;
    top: 25%; */
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
    margin: auto;
    margin-top: 10rem;
    padding: auto 3rem;
    overflow: hidden;
}
/* .left {
    width: 33.84rem;
    height: 24.53rem;  
} */
.details {
    display: flex;
    flex-direction: column;
    align-content: center; 
    width: 440px;
    height: 319px;
    margin: 0;
    padding: 35px 0px;
    background-color: var(--off-white);
    border: none;
}
/* .details-container {
    display: flex;
    max-width: 100%;
    max-height: 100%;
    margin-top: 0;
    padding: 1rem auto;
    flex-direction: column;
    align-items: flex-start;  
    font-size: 18px;
    line-height: 21px;
    text-align: center;
} */
.details-header {
    display: flex;
    max-width: 100%;
    height: 5.348rem;
    margin-bottom: 1rem;
    font-family: var(--montserrat);
    font-weight: var(--fw-med);
    color: var(--info);
    /* text-align: left; */
}
.intro {
    width: 100%;
    font-size: 3.69rem;
    height: 5.348rem;
    padding-top: var(--fs-xxsmall);
    /* margin-bottom: 20px; */
    padding-left: var(--fs-large);
}
.details-text {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.bulb-holder {
    width: 1.53rem;
    
}
.bulb {
    width: 100%;
    height: auto;
}

.details-text p {
    display:flex;
    width: 34.61rem;
    font-family: var(--roboto);
    font-size: 1.84rem;
    text-align: left;
    line-height: 1;
    margin-left: var(--fs-xxsmall);  
}
p.text {
    display:flex;
    width:  34.61rem;
    height: 7.23rem;
    font-size: 1.84rem;
}
.right {
    width: 440px;
    height: 340px;
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: var(--white);
    padding-right: 4rem;
    /* border: 1px solid var(--very-lt-gray);
    border-radius: 15px;
    box-shadow: 0px 4px 4px 0px rgba(31, 31, 31, 25%); */
}
form,
.form-right {
    display: flex;
    flex-direction: column;
    align-content: center; 
    width: 33.84rem;
    height: 24.53rem;
    margin: 0 auto;
    padding: 3.30rem 3.46rem;
    background-color: var(--white);
    border: 1px solid var(--very-lt-gray);
    border-radius: 15px;
    box-shadow: 0px 4px 4px 0px rgba(31, 31, 31, 25%);
}

.form-container {
    display: flex;
    flex-direction: colunm;
    max-width: 26.15rem;
    height: auto;
    /* margin: 1rem auto; */
    /* padding: 1rem auto; */
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;  
    font-size: var(--fs-large);
    line-height: var(--fs-xlarge);
    /* text-align: center; */
}
.form-container:nth-child(1),
.form-container:nth-child(2) {
    margin-top: 0;
}
.instructions {
    width: 26.15rem;
    height: 2.15rem;
    margin-bottom: 0;
}
p.guide {
    max-width: 19.84rem;
    max-height: 2rem;
    text-align: left;
    line-height: 1;
    margin: 0;
}

label {
    width: 26.15rem;
    text-align: left;
    margin-top: .75rem;
    margin-bottom: .3rem; 
    margin-left: .23rem;
    margin-right: 1.2rem;
    font-size: var(--fs-18px);
}
label[for=email],
label[for=password],
label[for=re-enter] {
    width: 26.15rem;
    margin-left: .23rem;
}
label[for=password]:hover,
label[for=re-enter]:hover {
    color: var(--info);
}
input {
    width: 26.15rem;
    height: 2.46rem;
    border: 1px solid var(--very-lt-gray);
    border-radius: var(--fs-large);  
    margin-bottom: 3px;
    padding-left: var(--fs-xxsmall);
}
input[type=password]:hover,
input[type=email]:hover {
    border: 1px solid var(--info);
}
.m-email-request {
    display: none;
}
.instructions,
.recovery-link {
    width: 23.76rem;
    font-size: 1.07rem;
    
    margin-bottom: 3.07rem;
    padding-top: .615rem;
}

.recovery-link {
    margin-left: .03rem;
}
p.guide {
    display: flex;
    width: 100%;
    height: 6.92rem;
    margin-left: 0;
    justify-content: flex-start;
    align-content: flex-end;
    font-size: var(--fs-xsmall);
    /* padding-top: 1rem; */
}
.send-request {
    display: flex;
    width: 100%;
    height: 6.92rem;
    align-content: flex-end;
    
}
.confirm {
    display: flex;
    width: 100%;
    height: 4.61rem;
    align-content: flex-end;
    /* padding-top: 1rem; */
}

.submit-request,
.submit-confirm {
    width: 100%;
    height: 2.46rem; 
    border-radius: var(--fs-large);
    font-size: 1.07rem;
    color: var(--white);
    font-weight: var(--fw-robo-bold);
    background-color: var(--info);
    border: 1px solid var(--info);
    margin-top: 2.1rem;  
    margin-bottom: .25rem;
    text-align: center;
}
.submit-request {
    width: 340px;
    padding: 0 0;
    margin: auto; 
}
.submit-confirm {
    margin-top:32px;
    height: 32px;
}
.submit-request:hover,
.submit-request:focus,
.submit-confirm:hover,
.submit-confirm:focus {
    opacity: 80%;
    cursor: pointer;
}
.submit a {
    text-decoration: none;
    color: var(--white);
    font-size: 1.07rem;  
    margin-bottom: 2rem;
}


/* MOBILE DESIGN - max-width 1040px*/
@media screen and (max-width: 65em) {
    html,
    body {
        width: 100%;
        height: 100%;
    }
    #bg {
        display: block;
    }
    #bg img{
        display: block;
    }
    .header-layout {
        max-width: 90%;
        height: 60px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 2rem auto;
        margin-bottom: 0;
        padding-top: 0;
        padding-bottom: 2rem;  
        border-bottom: 1px solid var(--very-lt-gray);
    }
    .header-left {
        display: flex;
        width: 360px;
        flex-direction: row;
        margin: 1.75rem auto;
    }
    .m-header-link {
        display: block;
        margin-left: 5px;
        margin-right: 125px;
    }
    .logo {
        max-width: 50px;
        height: 21px;
        margin-right: 40px;
    }
    .title {
        display: none;
    }
    .header-right a {
        display: none;
    }
    .window,
    .reset-window {
        max-width: 60%;
        width: 600px;
        min-width: 340px;
        max-height: 670px;
        min-height: 282px;
        display: flex;
        flex-direction: column;
        justify-content: stretch;
        align-content: center;
        background-color: none;
        margin: 2rem auto;
        border: none;
        overflow: hidden;
    
    }
    
    /* .closeout {
        display: none;
    } */
    .form-layout {
        width: 440px;
        max-width: 86%;
        min-width: 289px;
        height: 500px;
        max-height: 80%;
        min-height: 282px;
        
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        margin: auto;
        margin-top: 5rem;
        padding: 0;
        /* border: 1px solid var(--very-lt-gray);
        border-radius: 15px;
        box-shadow: 0px 4px 4px 0px rgba(31, 31, 31, 25%); */
    }
    .reset-window > .form-layout {
        min-height: 333px;
    }
    /* .reset-window > .left {
        height: 150px;
    } */
    /* .left {
        height: auto;
        margin-bottom: 1em;
    } */
    .details,
    .right {
        max-width: 100%;
        width: 440px;
        min-width: 289px;
        height: auto;
        height: 30%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        padding: 0;
        margin: auto;
        /* font-size: 1.5em; */
    }
    .details {
        margin-bottom: 0;
        width: 100%;
        background-color: white;
        
    }
    .right {
        padding-bottom: 0;
        margin: auto;
        margin-top: 0;
        border: none;
        
    }
    .reset-window > form.form-right {
        margin: 0;
    }
    /* .details,
    .right {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center; 
        max-width: 440px;
        min-width: 289px;
        max-height: 50%;
        margin: 0 auto;
        background-color: var(--white);
    } */
    /* .details-container {
        width: 440px;
        min-width: 289px;
        height: 185px;
        display: flex;
        justify-content: center;
        align-content: center;
        text-align: center;
        margin: 0 auto;
    } */
    .details-header {
        /* display: flex; */
        max-width: 100%;
        width: 440px;
        min-width: 289px;
        height: 70px;
        min-height: 57px;
        margin: auto;
        margin-bottom: 1.5rem;
        margin-top: 0;
        background-color: var(--info);
        border-radius: 15px 15px 0 0;
    }
    .intro {
        min-width: 167px;
        height: 59px; 
        padding-top: 13px;
        padding-left: 0;
        color: var(--white);
        text-align: center;
        font-size: 2.76rem;
        margin: 0;
        font-family: var(--montserrat);
        color: var(--white);
    }
    .details-text {
        width: 85%;
        max-width: 440px;
        min-width: 289px;
        margin: auto;
        
    }
    .details-text p {

        min-width: 257px;
        height: auto;
        font-size: var(--fs-18px);
    }
    form,
    form .form-right,
    .form-right {
        width: 85%;
        min-width: 289px;
        width: 100%;
        height: 233px;
        margin: auto;
        padding: 0;
        /* border: none;
        box-shadow: none;
        margin-top: 0; */
    }
    p.guide,
    .recovery-link {
        max-width: 85%;
        min-width: 257px;
        height: 40px;
        padding: 0;
        margin: 0;
        margin: auto;
    }
    p.guide {
        margin: 0 auto;
        margin-bottom: 10px;
        width: 80%;
        /* margin-left: 60px; */
    }
    .form-container {
        max-width: 80%;
        width: 340px;
        min-width: 289px;
        margin: auto;
        text-align: center;
    }
    label {
        margin: 1rem 0;
        max-width: 76%;
        text-align: left;
        width: auto;
        min-width: 255px;
        margin-bottom: 0;
    }
    label[for=re-enter] {
        margin-top:0;
    }
    input {
        max-width: 90%;
        min-width: 255px;
    }
    p.guide {
        margin-bottom: 0;
    }
    .m-email-request {
        display: block;
    }
    .email-request {
        display: none;
    }
    .m-recovery-link {
        width: 76%;
        /* min-width: 255px; */
        margin:auto;
        margin-top: 20px;
        font-size: var(--fs-default);
    }
    .submit-request {
        max-width: 90%;
        min-width: 255px;
        margin: 2rem auto;
    }

    .submit-confirm {
        max-width: 90%;
        min-width: 255px;
        margin: 0;
    }
}

/* MOBILE DESIGN - max-width 815px*/
@media screen and (max-width: 51.25em) {
    .window,
    .reset-window {
        min-width: 330px;
        border: none;
        filter: none;
        /* background-color: ; */
    }
    .form-layout {
        height: auto;
        background-color: var(--white);
        border: 1px solid var(--very-lt-gray);
        border-radius: 15px;
        overflow: hidden;
        box-shadow: 0px 4px 4px 0px rgba(3, 3, 3, 0.25);
    }
    /* .details,
    .details-header {
        min-width: 289px;
        height: 20%;
        margin: 0;
        padding: 0;
    } */
    form,
    form .form-right,
    .form-right  {
        border: none;
        box-shadow: none;

    }
    p.intro {
        font-size: 1.3em;
        margin: auto;
        padding: 0;
        padding-top: 10px;
        
    }
    .details {
        background-color: var(--white);
    }
    
   
}
@media screen and (max-width: 37.5em) {
    .form-layout {
        height: 262px;
    }
    .reset-window > .form-layout {
        margin-top: 0;
        margin-bottom: 0;
    }
    .button-close,
    .bulb-holder,
    .bulb {
        display: none;
    }
    .details-header {
        
        font-size: .75em;
    }
    p.intro {
        margin-top: 1.4rem;
        height: 57px;
    }
    .details-text {
        width: 260px;
    }
    p.forgot,
    p.text {
        width: 257px;
        margin: 0 20px;
        font-size: .562em;
        
    }
    .m-recovery-link {
        width: 240px;
        margin: 0 20px;
        margin-top: .7rem;
        /* margin-left: 10px;
        margin-right: 0px; */
    }
    input,
    .submit-request,
    .submit-confirm {  
        width: 255px;
    }
    label {
        font-size: var(--fs-default);
    }

    .form-container > .submit-request {
        margin-top: 10px;
    }
    label[for=password] {
        margin-top: 0;
        margin-bottom: 0;
    }
    .form-container:nth-child(1) {
        margin-bottom: 0;
    }
    .form-container:nth-child(2) {
        margin-bottom: .5rem;
    }
    .form-container {
        margin: 7px 0;
    }
    p.guide {
        margin: 0 18px;
    }
    .submit-request {
        margin-top: 0;
        
    }
    .window,
    .reset-window {
        height: auto;
        border: none;
        filter: none;
        margin: 0 0;
        background: none;
    }
    form,
    form .form-right,
    .form-right  {
        border: none;
        box-shadow: none;

    }
    .right {
        height:90%;
        /* margin-top: 1rem; */
    }
    .form-layout {
        width: 289px;
        margin: 0 auto;
        background-color: var(--white);
        border: 1px solid var(--very-lt-gray);
        border-radius: 15px;
        overflow-y: hidden;
        box-shadow: 0px 4px 4px 0px rgba(3, 3, 3, 0.25);
    }
}









/* Email Sent PopUp styling */
.modal,
.success {
    display: none;
    position: fixed;
    width: 1004px;
    min-width: 65rem;
    height: 20.30rem;
    min-height: 17.30rem;
    left: 50%;
    top: 30%;
    overflow: auto;
    transform: translate(-50%, -50%);
    background-color: var(--off-white);
    background-color: var(--off-white);
    border: 2px solid var(--borders);
    border-radius: 15px;
    filter: drop-shadow(0 4px 4px rgba(31, 31, 31, 25%));
}
.modal-content {
    display: flex;
    flex-direction: column;
}
.modal-1-header {
    width: 100%;
    height: 96px;
    color: var(--white);
    background: var(--info);
    border-radius: 15px 15px 0 0;
}
.modal-1-header h2 {
    padding: 30px 20px;
    font-size: 36px;
    font-family: var(--roboto);
    font-weight: var(--fw-med); 
}
#mobile,
#mobile-p {
    display: none;
}
.modal-1-p {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 100%;
    height: 158px;
    font-size: 24px;
    padding: 20px;
}
#reply-two {
    height: 87px;
}
.modal-1-p a {
    text-decoration: underline;
    font-weight: var(--fw-robo-bold);
    color: var(--info);
}
.btn-ok {
    display: flex;
    justify-content: flex-end;
}
.btn-reset-success {
    display: flex;
    justify-content: flex-end;
}
.submit-modal,
.reset-success {
    display: flex;
    justify-content: center;
    align-content: center;
    width: 100px;
    height: 32px;
    font-size: 16px;
    font-weight: (var(--fw-robo-bold));
    color: var(--white);
    background-color: var(--info);
    border: 1px solid var(--info);
    border-radius: 15px;      
}
.submit-modal {
    padding-top: 6px;
}
a.back-to-login {
    width: 200px;
    color: var(--white);
    background-color: var(--info);
    text-decoration: none;
    margin: auto;
}
.submit-modal:hover,
.submit-modal:focus,
a.reset-success:hover,
a.reset-success:focus {
    opacity: 80%;
    cursor: pointer;
}


/* Responsive design for email sent and password reset popups max-width 1040px*/

@media screen and (max-width: 65em) {
    .modal,
    .success  {
        max-width: 90%;
        min-width: 80%;
        margin: 2rem auto;
    }
    .modal-1-header {
        height: 25%;
    }
    .modal-1-header h2 {
        text-align: center;
        padding: 15px 10px;
        font-size: 2em;
        margin: 0;
        
    } 
    .modal-1-p {
        width: 100%;
        height: 180px;
        padding: .5rem;
    }
    #reply {
        display: none;
    }
    #reply-two {
        text-align: center;
    }
    #mobile,
    #mobile-p {
        display: block;
        height: auto;
        font-size: 1.5rem;
        padding: var(--fs-xxsmall);
        padding-bottom: 0;
        height: 60px;
        text-align: start;
    }
    #mobile-p {
        margin-top: 0;
        padding: auto;
    }
    #mobile-p a {
        text-decoration: none;
    }
    .submit-modal {
        padding-right: 5px;
    }
    #bg img {
        display: block;
    }
    .btn-reset-success {
        justify-content: center;
    }
    a.back-to-login {
        margin-top: 6px;
    }
}



@media screen and (max-width: 47.93em) {
    .modal-1-header {
        height: 57px;
    }
    #mobile,
    #mobile-p,
    #reply-two {
        display: block;
        height: 100%;
        font-size: var(--fs-large);
        padding: var(--fs-xxsmall);
        padding-bottom: 0;
        height: 60px;
    }
    #reply-two {
        font-size: var(--fs-xlarge);

    }
    #mobile-p {
        padding: auto 1rem;
        padding-top: 0;
        
    }
    .submit-modal,
    .reset-success {
        padding-right: 5px;
    }
    
    
}