@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;@400;500;600&family=Roboto:wght@300;@400;500;700&display=swap');

:root {
    --roboto: 'Roboto', sans-serif;
    --montserrat: 'Montserrat', sans-serif;
    
    /* FONT-SIZES */
    --fs-xlarge: 1.615rem;
    --fs-18px: 1.38rem;
    --fs-16px: 1.23rem;
    --fs-large: 1.15rem;
    
    --fs-medium: 1.07rem;
    --fs-default: 1rem;
    --fs-small: .9230r;
    --fs-xsmall: .846rem;
    --fs-xxsmall: .769rem;

    /* FONT WEIGHT */
    --fw-light: 300;
    --fw-reg: 400;
    --fw-med: 500;
    --fw-bold: 700;

    /* TEXT COLORS */
    --dk: #1E1E1E;
    --gray: #616161;
    --lt-gr: #AFB1B2;

    /* BACKGROUND COLORS */
    --near-bk: #1E1E1E;
    --very-lt-gray: #CCCCCC;
    --white: #FFFFFF;
    --off-white: #F8F8F8;
    --rect-gray: #C4C4C4;
    --borders: #E1E1E1;

    /* COLORS */
    --info: #53B6E0;
    --success: #74C080;
    --warning: #F0B518;
    --error: #D9534F;
    --dark-blue: #14223D;

}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
}
html,
body {
    font-family: var(--roboto);
    font-size: 13px;
    font-weight: var(--fw-reg);
    
}

/* Account Confirmed PopUp styling */

.acct-confirmed {
    display: block;
    position: fixed;
    width: 1004px;
    min-width: 65rem;
    height: 264px;
    min-height: 264px;
    left: 50%;
    top: 30%;
    overflow: auto;
    transform: translate(-50%, -50%);
    background-color: var(--off-white);
    background-color: var(--off-white);
    border: 2px solid var(--borders);
    border-radius: 15px;
    filter: drop-shadow(0 4px 4px rgba(31, 31, 31, 25%));
}
.confirm-content {
    display: flex;
    flex-direction: column;
}
.confirm-header {
    width: 100%;
    height: 96px;
    color: var(--white);
    background: var(--info);
    border-radius: 15px 15px 0 0;
}
.confirm-header h2 {
    padding: 30px 20px;
    font-size: 36px;
    font-family: var(--roboto);
    font-weight: var(--fw-med); 
}

.confirm-p {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 158px;
    padding: 20px;
}
#confirm-reply {
    height: 56px;
    font-size: 1.84rem;
    font-weight: var(--fw-reg);
}
.acct-success {
    display: flex;
    justify-content: flex-end;
}
.btn-reset-success {
    display: flex;
    justify-content: center;
    align-content: center;
    width: 100px;
    height: 32px;
    font-size: var(--fs-16px);
    font-weight: (var(--fw-bold));
    color: var(--white);
    background-color: var(--info);
    border: 1px solid var(--info);
    border-radius: 15px;      
}
a.go-to-almost{
    width: 80px;
    color: var(--white);
    background-color: var(--info);
    text-decoration: none;
    margin: auto;
}
.acct-success:hover,
.acct-success:focus {
    opacity: 80%;
    cursor: pointer;
}

/* max-width 1040px*/

@media screen and (max-width: 65em) {
    html,
    body {
        width: 100%;
        height: 60%;
    }
    .acct-confirmed  {
        max-width: 90%;
        min-width: 289px;
        max-height: 264px;
        min-height: 225px;
        margin: 2rem auto;
    }
    .confirm-header {
        height: auto;
    }
    .confirm-header h2 {
        text-align: center;
        padding: 15px 10px;
        font-size: 2.3em;
        margin: 0;  
    } 
    .confirm-p {
        width: 100%;
        height: 180px;
        padding: auto;
        padding-bottom: 1rem;
    }
    #confirm-reply {
        text-align: left;
        font-size: 1.65em;
    }
    
    .acct-success {
        justify-content: flex-end;
        margin-top: 1rem;
    }
    a.go-to-almost {
        margin-top: 6px;
    }
}


/* max-width 375px */
@media screen and (max-width: 28.84em) {
    .acct-confirmed {
        height: auto;
        width: auto;
    }
    .confirm-header {
        height: auto;
        font-size: .81em;
    }
    .confirm-p {
        align-content: center;
        height: 150px;
        width: 257px;
        align-content: center;
        margin: 1rem;
        margin-bottom: 2rem;
        padding: 0;
    }
    #confirm-reply {
        width: auto;
        display: block;
        height: 75px;
        font-size: 1.1em;
        padding: var(--fs-xxsmall);
        padding: 0 .5rem;
        line-height: 1.2;
        
    }
    .acct-success {
        margin: 0;
    }
    .btn-reset-success {
        padding-right: 5px;
    }     
}