* {
    margin: 0;
    padding: 0;
}
.checkbox-wrapper {
    width: 40px;
    margin-left: 15px;
    margin-top: 10px;
}

/* STYLING FOR RECAPCHA  & BOTTOM CHECKBOX */

/* Selecting type checkbox by using parent*/
.checkbox-wrapper > [type="checkbox"],
.container > [type="checkbox"]{
    opacity: 0; 
}
  
/* Styling the label  */
.checkbox-wrapper > [type="checkbox"] + label,
.container > [type="checkbox"] + label {
    position: relative;
    padding-left: 30px;
    cursor: pointer;
    display: inline-block;
    color: black;
    line-height: 25px;
 
}

 /* Styling the box around the label before it is checked */
.checkbox-wrapper > [type="checkbox"] + label::before,
.container > [type="checkbox"] + label::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 30px;
    height: 30px;
    border: 2px solid #CCCCCC;
    border-radius: 5px;
    background: #ffffff;
}
.container > [type="checkbox"] + label::before {
    width: 25px;
    height: 25px;
}
 
/* Outline in checked position */
.checkbox-wrapper >  [type="checkbox"]:checked + label::before,
.container >[type="checkbox"]:checked + label::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 25px;
    height: 25px;
    background: #ffffff;
    border: none;
}
.container >[type="checkbox"]:checked + label::before {
    border: 2px solid #CCCCCC;
}

/* Adding Bg-image "checkmark" design once box is checked  */
.checkbox-wrapper > [type="checkbox"]:checked + label::after{
    content: "";
    position: absolute;
    left: 5px;
    top: 5px;
    width: 25px;
    height: 25px;
    background-image: url(assets/checkmark.svg);
    background-repeat: no-repeat;
    background-size: contain;
    transform:scale(1);
    opacity: 1;
    transition: all .3s ease;
    
}
/* Hiding the bg-image "checkmark"  when box is not checked*/
.checkbox-wrapper > [type="checkbox"]:not(checked) + label::after{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 25px;
    height: 25px;
    background-image: url(assets/checkmark.svg);
    background-repeat: no-repeat;
    background-size: contain;
    transform:scale(0);
    opacity:(0);
}


/* Adding Bg-image "X" design once label is checked */
.container > [type="checkbox"]:checked + label::after{
    content: "";
    position: absolute;
    margin: 2.5px 3px;
    width: 23px;
    height: 23px;
    background-image: url(assets/Line\ 17.png), url(assets/Line\ 18.png);
    background-size: 18px;
    background-repeat: no-repeat, no-repeat;
    transform: scale(1);
    opacity: 1;
    transition: all .4s ease;
}

/* Hiding the bg-image "X" once when box is not checked*/
    .container > [type="checkbox"]:not(checked) + label::after{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 25px;
    height: 25px;
    background-image: url(assets/Line\ 17.png), url(assets/Line\ 18.png);
    background-size: 18px;
    background-repeat: no-repeat, no-repeat;
    transform:scale(0);
    opacity:(0);
}





