
:root {
    --roboto: 'Roboto', sans-serif;
    --montserrat: 'Montserrat', sans-serif;
    
    /* FONT-SIZES */
    --fs-xlarge: 1.615rem;
    --fs-18px: 1.38rem;
    --fs-16px: 1.23rem;
    --fs-large: 1.15rem;
    
    --fs-medium: 1.07rem;
    --fs-default: 1rem;
    --fs-small: .9230rem;
    --fs-xsmall: .846rem;
    --fs-xxsmall: .769rem;

    /* FONT WEIGHT */
    --fw-light: 300;
    --fw-reg: 400;
    --fw-med: 500;
    --fw-montserrat-sbold: 600;
    --fw-robo-bold: 700;

    /* TEXT COLORS */
    --dk: #1E1E1E;
    --gray: #616161;
    --lt-gr: #AFB1B2;

    /* BACKGROUND COLORS */
    --near-bk: #1E1E1E;
    --very-lt-gray: #CCCCCC;
    --white: #FFFFFF;
    --off-white: #F8F8F8;
    --rect-gray: #c4c4c4;
    --borders: #E1E1E1;

    /* COLORS */
    --info: #53B6E0;
    --success: #74C080;
    --warning: #F0B518;
    --error: #D9534F;
    --dark-blue: #14223D;
    --google-red: #DB4437;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
}
html,
body {
    width: 100%;
    height: 100%;
    font-family: var(--roboto);
    font-size: 13px;
    font-weight: var(--fw-reg);   
}
/* Registration Window */
.register-window {
    position: fixed;
    width: 1004px;
    height: auto;
    left: 50%;
    top: 60%;
    z-index: 0;
    transform: translate(-50%, -50%);
    font-size: 1.92rem;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    background-color: var(--off-white);
    border: 2px solid var(--borders);
    border-radius: 15px;
    filter: drop-shadow(0 4px 4px rgba(31, 31, 31, 25%));
}
/* .register-window {
    display: block;
} */

/* Layout of Form Content */
.registration-form-layout {
    height:auto;
    width: 1004px;
    display: flex;
    flex-direction: row;
    align-content: center;
    padding: auto 3rem;
    overflow: hidden;
}
/* Left side of the layout */
.registration-left {
    margin-top: 18.5rem;
    margin-right: 0;
    padding-left: 9rem;
    width: 550px;
    display: flex;
    flex-direction: column;
}
p.registration-intro {
    font-size: 36px;
    color: var(--info);
}
p.registration-note {
    font-size: var(--fs-medium);
    color: var(--info);
    font-weight: 400;
}
p.help-text,
p.vote-text,
p.save-text {
    font-weight: var(--fw-light);
    font-size: var(--fs-18px);
    margin-left: 10px;
    padding-top: 10px;  
} 
.up-vote,
.down-vote {
    height: 23px;
}
.chat-row,
.vote-row,
.save-tag {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
}
.up-vote img{
    margin-bottom: 0;
}

/* Right side of the layout */
.registration-right {
    width: 400px;
    height: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: none;
    padding-right: 4rem;
    /* margin-right: 5rem; */
}
/* Sytling the optional sign-in methods */
.reg-other-signin {
    display: flex;
    height: auto;
    margin-top: 0;
    flex-direction: column;
    align-items: center;  
}
a.reg-google,
a.reg-github {
    width: 289px;
    height: 32px;
    display: inline-flex;
    justify-content: center;
    border-radius: 15px; 
    font-size: 13px;
    text-decoration: none;
}
a.reg-google {
    color: var(--gray);
    background:var(--white);
    border: 1px solid var(--very-lt-gray);
    margin-bottom: 14px;
}
a.reg-github {
    color: var(--white);
    background-color: black;
}
.reg-google img,
.reg-github img {
    padding-right: .6rem;
}
.reg-google span,
.reg-github span {
    padding-top: .5rem;
}
.reg-google:hover {
    border: 1.5px solid var(--google-red);
    color: var(--google-red);
}
.reg-github:hover {
    border: 1.5px solid black;
    color: black;
    background: var(--white);
}
/* Styling the form */
.registration-form-right {
    display: flex;
    flex-direction: column;
    align-content: center; 
    width: 289px;
    height: auto;
    margin: 1rem auto;
    padding: 1.5rem 0;
    background-color: var(--white);
    border: 1px solid var(--very-lt-gray);
    border-radius: 15px;
    filter: drop-shadow(0 4px 4px rgba(31, 31, 31, 25%));
}
.registration-form-container {
    display: flex;
    height: auto;
    margin-top: 0;
    padding: 1rem auto;
    flex-direction: column;
    align-items: center;  
    font-size: 18px;
    line-height: 21px;
    text-align: center;
}
.form-container input {
    box-sizing: border-box;
    padding-left: 10px;
}
label {
    width: 255px;
    text-align: left;
    margin: .75rem auto;
    margin-bottom: 0;
    font-size: var(--fs-default);
}
input {
    width: 255px;
    height: 32px;
    border: 1px solid var(--very-lt-gray);
    border-radius: 15px;  
    padding-left: 10px;
    outline: none;
}
input:hover {
    border: 1px solid var(--info);
}
.registration-criteria {
    text-align: left;
    width: 289px;
}
.registration-criteria-text {
    width: 255px;
    margin: auto;
    margin-top: 1rem;
    font-weight: 300; 
}
/* .registration-criteria-text,
.opt-in-text {
    font-size: var(--fs-xsmall);
}
.registration-cap-container {
    width: 289px;
    text-align: center;
    margin:1rem  auto;  
}
.opt-in {
    width: 289px;
    margin: 0;
    display: flex;
    flex-direction: column;
    z-index: -1;
} */
/* .details-opt-in {
    width: 280px;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;  
    height: auto;
    margin:0 auto;
    text-align: center;  
    z-index: -1;
}
.opt-in-text {
    margin-top: 0;
    margin-left: 5px;
    margin-right: 0;
    padding-left: 20px;
    padding-right: 25px;
    width: 250px;
    height: 36px;
    font-weight: 500;
    font-size: var(--fs-xxsmall);
    z-index: -1;

}
.explain-opt-in {
    padding-bottom: 1rem;
    vertical-align: middle;
    z-index: -1;
}
.get-opt-info {
    border: none;
    background-color: var(--white);
} */
.submit-signup {
    margin: auto;
    width: 255px;
    height: 32px;
    color: var(--white);
    border: none;
    border-radius: 15px;
    background: var(--info);
    font-size: var(--fs-medium);
    font-weight: var(--fw-robo-bold);
}
.submit-signup:hover {
    opacity: 80%;
    cursor: pointer;
}
p.registration-reg-terms {
    width: 218px;
    margin: 2rem auto;
    margin-bottom: .75rem;
    font-size: var(--fs-xxsmall);
    font-weight: var(--fw-light);
}
.existing-account {
    width: 289px;
    margin: auto;
    text-align: center;
}
.existing-account-text {
    font-size: var(--fs-xxsmall);
}
.criteria-text,
.existing-account-text  {
    font-weight: var(--fw-light);
}

.existing-account-text {
    width: 218px;
    margin: 2rem auto;
    text-align: center;
    margin-bottom: 1.5rem; 
}
#already-btn {
    border: none;
    outline: none;
    width: auto;
    height: auto;
    padding-left: 2px;
    color: var(--info);
    background-color: none;
    font-size: var(--fs-xxsmall);
}
#already-btn:hover {
    cursor: pointer;
}

/* max width 1040 */
@media screen and (max-width: 65em) {
    html,
    body {
        width: 100%; 
        height: 100%;  
    }
    .register-window {
        width: 90%;
        height: 768px; 
        /* top: 50%; */
        /* border: none;
        background: none;  
        filter: none; */
    }
    
    .closeout {
        display: none;
    }
    .registration-form-layout {
        width: 321px;
        display: flex;
        flex-direction: column;
        margin: auto;
        margin-top: 2rem;
        background-color: none;
        
    }
    .registration-left,
    .registration-form-right {
        width: 289px;
        margin: 0;
        padding: 0;
        text-align: center; 
        margin: auto;
    }
    .registration-left {
        padding-left: 0;
    }
    p.registration-intro,
    p.registration-note {
        color: var(--dark-blue);
    }
    p.registration-intro {
        font-size: 24px;
        font-weight: var(--fw-med);
    }
    p.registration-note {
        margin-bottom: .5rem;
        font-size: var(--fs-medium);
        font-weight: 300;
    }
    .registration-details-text {
        display: none;
    }
    .registration-right {
        width: 321px;
        height: auto;
        display: flex;
        flex-direction: column;
        margin: auto;
        padding: 0;
        text-align: center;
        background-color: var(--very-lt-gray);
        border-radius: 15px;
    }
    .reg-other-signin {
        width: 100%;
        margin: auto;
        margin-bottom: 2.5rem;
        text-align: center;
        margin-top: 1.5rem;
    }
    a.reg-google,
    a.reg-github {
        width: 289px;
    }
    
    .registration-form-right {
        width: 289px;
    }
    input {
        width: 255px;
    }
    label,
    label[for=user_name],
    label[for=user_email] {
        width: 230px;
        margin: .75rem 1.5rem;
        margin-bottom: 0;
    }
    .registration-criteria {
        width: 287px;
        text-align: left;
    }
    p.registration-criteria-text {
        width: 255px;
    }
    .submit-signup {
        width: 255px;
    }
    p.registration-reg-terms {
        width: 217px;
        margin: 1.5rem auto;
        font-size: var(--fs-xxsmall);
        font-weight: var(--fw-reg);
    }
    .existing-account-text {
        width: 160px;
        margin: 2rem auto;
        text-align: center;
        font-size: var(--fs-xxsmall);
        font-weight: var(--fw-robo-bold);
    }
    #already-btn {
        width: auto;
        border: none;
        background-color:var(--white);
        color: var(--info);
        font-size: var(--fs-xxsmall);
        font-weight: var(--fw-robo-bold);
    }
}

@media screen and (max-width: 48em) {
    .mobile-arrow {
        display: block;
    }
    
}
@media screen and (max-width: 31.75em) {
    .register-window {
        border: none;
        background: none;  
        filter: none;
    }
}
